header#header-main{
    background:#272727;
    height: 72px;
}
header#header-main .header-content{
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#header-main .header-content a{
    color: #ffff;
    text-decoration: none;
    font-size: 23px;
}
